{% extends 'base.html.twig' %}


{% block title %}Ветеринарная клиника{% endblock %}

{% block body %}
    {% include 'index/header.html.twig' %}
    <div class="main">
        <h1>Ветеринарная клиника</h1>
    </div>
{% endblock %}
