.field {clear:both; text-align:right;}
label {float:left; padding-right:10px;}
.form {
    float:left;
    position: relative;
    background-color: rgba(230, 240, 240, 0.6);
    border-radius: 10px;
    left: 35%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    background-image: url("../images/registerBackground.png");
    align-items: center;
    height: 100vh;
    font-family: "Sansita Swashed", cursive;
}
header {
    padding: 10px;
}