.service {
    padding: 10px;
}

body { overflow-x:hidden; }

.service-center {
    text-align: center;
}

a.button {
    font-weight: 700;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;
    text-decoration: none;
    padding: .6em 1em calc(.6em + 3px);
    border-radius: 3px;
    background: rgb(15,147,255);
    transition: 0.2s;
}
a.button:hover { background: rgb(66,170,255); }
a.button:active {
    background: rgb(66,170,255);
    box-shadow: 0 3px rgb(66,170,255) inset;
}